@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

html {
  --pale-blue: hsl(225, 100%, 94%);
  --bright-blue: hsl(245, 75%, 52%);
  --very-pale-blue: hsl(225, 100%, 98%);
  --desaturated-blue: hsl(224, 23%, 55%);
  --dark-blue: hsl(223, 47%, 23%);
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--pale-blue) url("./images/pattern-background-desktop.svg") no-repeat;
  background-size: 100%;
}

.card {
  width: 100%;
  max-width: 450px;
  padding-bottom: 50px;
  border-radius: 20px;
  background-image: url("./images/illustration-hero.svg");
  background-repeat: no-repeat;
  background-color: white;
  box-shadow: 0px 20px 20px rgb(199, 205, 229);
}

.card-text {
  width: 100%;
  max-width: 300px;
  margin: 0px auto;
  margin-top: 265px;
  text-align: center;
}

h1 {
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 900;
  font-size: 28px;
  color: var(--dark-blue);
  padding-bottom: 20px;
}

h3 {
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 900;
  font-size: 16px;
  color: var(--dark-blue);
  line-height: 25px;
}

p {
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: var(--desaturated-blue);
  line-height: 25px;
}

.plan {
  width: 100%;
  max-width: 360px;
  height: 100px;
  margin: 0px auto;
  border-radius: 10px;
  background-color: var(--very-pale-blue);
  margin-top: 20px;
}

.plan img {
  padding-left: 25px;
}

.plan a {
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 900;
  font-size: 14px;
  color: var(--bright-blue);
}

.plan a:hover {
  color: #a39be6;
  text-decoration: none;
}

.flex-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flex-item {
  padding-right: 25px;
}

.option {
  margin-left: auto;
}

.button {
  width: 360px;
  margin: 0px auto;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.button #submit {
  height: 50px;
  border-radius: 10px;
  background-color: var(--bright-blue);
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 900;
  font-size: 14px;
  color: white;
  cursor: pointer;
  box-shadow: 0px 20px 20px rgb(219, 216, 251);
}

.button #submit:hover {
  background-color: #766cf1;
}

.button #reset {
  width: auto;
  margin-top: 35px;
  align-self: center;
  background-color: transparent;
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 900;
  font-size: 14px;
  color: var(--desaturated-blue);
  cursor: pointer;
}

.button #reset:hover {
  color: var(--dark-blue);
}

.attribution {
  font-size: 14px;
  text-align: center;
  margin-top: 25px;
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 700;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 530px){
.card {
  max-width: 330px;
  padding-bottom: 25px;
  background-size: 330px 160px;
}

.card-text {
  margin-top: 190px;
}

h1 {
  font-size: 22px;
}

h3, p {
  font-size: 15px;
  margin: 0px auto;
  line-height: 25px;
}

.plan {
  max-width: 280px;
  height: 80px;
  border-radius: 15px;
}

.plan img {
  padding-left: 17px;
}

.flex-item {
  padding-right: 17px;
}

.button {
  max-width: 280px;
}

.button #reset {
  margin-top: 20px;
}

}